/*
**********************
    color palettes
**********************
*/

// black
$black: #000;

// white
$white: #fff;

// transparent
$transparent: transparent;

// gray
$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-600: #718096;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;

// blue
$blue-100: #ebf8ff;
$blue-200: #bee3f8;
$blue-300: #90cdf4;
$blue-400: #63b3ed;
$blue-500: #4299e1;
$blue-600: #3182ce;
$blue-700: #2b6cb0;
$blue-800: #2c5282;
$blue-900: #2a4365;

// green
$green-100: #f0fff4;
$green-200: #c6f6d5;
$green-300: #9ae6b4;
$green-400: #68d391;
$green-500: #48bb78;
$green-600: #38a169;
$green-700: #2f855a;
$green-800: #276749;
$green-900: #22543d;

// red
$red-100: #fff5f5;
$red-200: #fed7d7;
$red-300: #feb2b2;
$red-400: #fc8181;
$red-500: #f56565;
$red-600: #e53e3e;
$red-700: #c53030;
$red-800: #9b2c2c;
$red-900: #742a2a;

// orange
$orange-100: #fffaf0;
$orange-200: #feebc8;
$orange-300: #fbd38d;
$orange-400: #f6ad55;
$orange-500: #ed8936;
$orange-600: #dd6b20;
$orange-700: #c05621;
$orange-800: #9c4221;
$orange-900: #7b341e;

// indigo
$indigo-100: #ebf4ff;
$indigo-200: #c3dafe;
$indigo-300: #a3bffa;
$indigo-400: #7f9cf5;
$indigo-500: #667eea;
$indigo-600: #5a67d8;
$indigo-700: #4c51bf;
$indigo-800: #434190;
$indigo-900: #3c366b;

// yellow
$yellow-100: #fffff0;
$yellow-200: #fefcbf;
$yellow-300: #faf089;
$yellow-400: #f6e05e;
$yellow-500: #ecc94b;
$yellow-600: #d69e2e;
$yellow-700: #b7791f;
$yellow-800: #975a16;
$yellow-900: #744210;

// purple
$purple-100: #faf5ff;
$purple-200: #e9d8fd;
$purple-300: #d6bcfa;
$purple-400: #b794f4;
$purple-500: #9f7aea;
$purple-600: #805ad5;
$purple-700: #6b46c1;
$purple-800: #553c9a;
$purple-900: #44337a;

// teal
$teal-100: #e6fffa;
$teal-200: #b2f5ea;
$teal-300: #81e6d9;
$teal-400: #4fd1c5;
$teal-500: #38b2ac;
$teal-600: #319795;
$teal-700: #2c7a7b;
$teal-800: #285e61;
$teal-900: #234e52;

// pink
$pink-100: #fff5f7;
$pink-200: #fed7e2;
$pink-300: #fbb6ce;
$pink-400: #f687b3;
$pink-500: #ed64a6;
$pink-600: #d53f8c;
$pink-700: #b83280;
$pink-800: #97266d;
$pink-900: #702459;

$secondary: $gray-400;
$primary: $blue-500;
$success: $green-500;
$info: $indigo-500;
$warning: $yellow-500;
$danger: $red-500;
$light: $gray-300;
$dark: $gray-700;

$border: $gray-500;

$shadow: #0000001a;

// gray colors map
$gray-colors: (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
) !default;

// blue colors map
$blue-colors: (
    "100": $blue-100,
    "200": $blue-200,
    "300": $blue-300,
    "400": $blue-400,
    "500": $blue-500,
    "600": $blue-600,
    "700": $blue-700,
    "800": $blue-800,
    "900": $blue-900,
) !default;

// green colors map
$green-colors: (
    "100": $green-100,
    "200": $green-200,
    "300": $green-300,
    "400": $green-400,
    "500": $green-500,
    "600": $green-600,
    "700": $green-700,
    "800": $green-800,
    "900": $green-900,
) !default;

// red colors map
$red-colors: (
    "100": $red-100,
    "200": $red-200,
    "300": $red-300,
    "400": $red-400,
    "500": $red-500,
    "600": $red-600,
    "700": $red-700,
    "800": $red-800,
    "900": $red-900,
) !default;

// orange colors map
$orange-colors: (
    "100": $orange-100,
    "200": $orange-200,
    "300": $orange-300,
    "400": $orange-400,
    "500": $orange-500,
    "600": $orange-600,
    "700": $orange-700,
    "800": $orange-800,
    "900": $orange-900,
) !default;

// indigo colors map
$indigo-colors: (
    "100": $indigo-100,
    "200": $indigo-200,
    "300": $indigo-300,
    "400": $indigo-400,
    "500": $indigo-500,
    "600": $indigo-600,
    "700": $indigo-700,
    "800": $indigo-800,
    "900": $indigo-900,
) !default;

// yellow colors map
$yellow-colors: (
    "100": $yellow-100,
    "200": $yellow-200,
    "300": $yellow-300,
    "400": $yellow-400,
    "500": $yellow-500,
    "600": $yellow-600,
    "700": $yellow-700,
    "800": $yellow-800,
    "900": $yellow-900,
) !default;

// purple colors map
$purple-colors: (
    "100": $purple-100,
    "200": $purple-200,
    "300": $purple-300,
    "400": $purple-400,
    "500": $purple-500,
    "600": $purple-600,
    "700": $purple-700,
    "800": $purple-800,
    "900": $purple-900,
) !default;

// teal colors map
$teal-colors: (
    "100": $teal-100,
    "200": $teal-200,
    "300": $teal-300,
    "400": $teal-400,
    "500": $teal-500,
    "600": $teal-600,
    "700": $teal-700,
    "800": $teal-800,
    "900": $teal-900,
) !default;

// pink colors map
$pink-colors: (
    "100": $pink-100,
    "200": $pink-200,
    "300": $pink-300,
    "400": $pink-400,
    "500": $pink-500,
    "600": $pink-600,
    "700": $pink-700,
    "800": $pink-800,
    "900": $pink-900,
) !default;

// theme colors map
$theme-colors: (
    "secondary": $secondary,
    "primary": $primary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
) !default;

/*
*******************
      z index
*******************
*/

$z-index-n1: -1;
$z-index-static: 1000;
$z-index-dropdown: 1040;
$z-index-backdrop: 1060;
$z-index-modal: 1080;

$z-indexes: (
    "n1": $z-index-n1,
    "static": $z-index-static,
    "dropdown": $z-index-dropdown,
    "backdrop": $z-index-backdrop,
    "modal": $z-index-modal,
);
